# Visual Studio Code
.vscode/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Tooling and Logs
node_modules/
.npm
logs
*.log
npm-debug.log*

# Build Outputs (If using Sass or Minifiers)
.sass-cache/
*.css.map
*.js.map
dist/
build/